<div class="modal fade" id="modalComposerShow{{ symfony.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Composer show - {{ symfony.path|split('/')|last }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="text-center text-info" id="modalComposerShow{{ symfony.id }}-empty">
					<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>