<div class="modal fade" id="modalEditPhpExecutable" tabindex="-1" role="dialog" aria-labelledby="modalEditPhpExecutableLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalEditPhpExecutableLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" data-action="{{ path('app_default_editphpexecutable', {'symfony': '|||'}) }}">
				<div class="modal-body">
					<div class="form-group">
						<label for="phPExecutable">PHP executable</label>
						<input type="text" id="phPExecutable" name="phPExecutable" class="form-control" placeholder="PHP executable">
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>