<p class="text-muted text-center">
	<small>
		Powered by <a href="https://github.com/raniel86" target="_blank" class="text-muted">@raniel86</a>
		<br>
		<a href="https://raw.githubusercontent.com/raniel86/startsymfonies2/master/LICENSE" target="_blank" class="text-muted">View license</a>
	</small>
</p>