<div class="text-center mt-2">
	<ul class="list-inline mb-0">
		<li class="list-inline-item border-right border-secondary pr-3">
			<small class="text-muted">
				<i class="fas fa-external-link-alt"></i>
				<a href="https://github.com/raniel86/startsymfonies2/issues" target="_blank" class="text-muted">Issues</a>
			</small>
		</li>
		<li class="list-inline-item border-right border-secondary pr-3">
			<small class="text-muted">
				<i class="fas fa-external-link-alt"></i>
				<a href="https://raw.githubusercontent.com/raniel86/startsymfonies2/master/LICENSE" target="_blank" class="text-muted">View license</a>
			</small>
		</li>
		<li class="list-inline-item">
			<small class="text-muted">
				<i class="fas fa-external-link-alt"></i>
				<a href="https://github.com/raniel86" target="_blank" class="text-muted">Developer page</a>
			</small>
		</li>
	</ul>
</div>