{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="root" class="mb-3"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

