table td, table th{
    vertical-align: middle !important;
}

.badge-symfony-2 {
    color: #6BA51C;
    background-color: #EEE;
    border: 1px solid #6BA51C;
}

.badge-symfony-3 {
    color: #FFF;
    background-color: #7aba20;
}

.badge-symfony-4 {
    color: #FFF;
    background-color: #D0D;
}