.navbar-dark .navbar-nav .nav-link{
	color : #FFF;
}

.navbar-light .navbar-nav .nav-link{
	color : #222;
}

.bg-danger {
	background-color: #e51f23 !important;
}

.btn-danger {
	background-color: #e51f23 !important;
	border-color: #e51f23 !important;
	color: #FFF;
}

.btn-primary {
	color: #fff !important;
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.text-danger {
	color: #e51f23 !important;
}

.badge-symfony-version-2 {
	color: #6BA51C;
	background-color: #EEE;
	border: 1px solid #6BA51C;
}

.badge-symfony-version-3 {
	color: #FFF;
	background-color: #7aba20;
}