.navbar-dark .navbar-nav .nav-link{
	color : #FFF;
}

.navbar-light .navbar-nav .nav-link{
	color : #222;
}

.bg-danger {
	background-color: #e51f23 !important;
}

.btn-danger {
	background-color: #e51f23 !important;
	border-color: #e51f23 !important;
	color: #FFF;
}

.btn-primary {
	color: #fff !important;
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.text-danger {
	color: #e51f23 !important;
}

.badge-symfony-version-2 {
	color: #6BA51C;
	background-color: #EEE;
	border: 1px solid #6BA51C;
}

.badge-symfony-version-3 {
	color: #FFF;
	background-color: #7aba20;
}

.badge-symfony-version-4 {
	color: #FFF;
	background-color: #D0D;
}

.badge-symfony-version-error {
	color: #e51f23;
	background-color: #FFF;
}

.bg-symfony {
	background: #7aba20;
	background: -moz-linear-gradient(top, #7aba20 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #7aba20 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #7aba20 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aba20', endColorstr='#ffffff',GradientType=0 );
}

.badge-orange{
	background-color: #dc8b35;
}

#chkHideStopped{
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.modal-backdrop.show{
	display: none;
}